---
import MainLayout from '../layouts/MainLayout.astro'
import StatsHeader from '../components/stats/StatsHeader.astro'
import SpendingSummary from '../components/stats/SpendingSummary.astro'
import CategoryList from '../components/stats/CategoryList.astro'
import SmartInsight from '../components/stats/SmartInsight.astro'
---

<MainLayout title="Statistics">
  <div class="mx-auto pb-32" x-data="statsPage()">
    <StatsHeader />

    <section class="mb-5">
      <div
        class="relative rounded-4xl bg-[#1D1E20] p-6 shadow-2xl shadow-slate-300/50"
      >
        <div class="mb-6 flex items-center justify-between px-2">
          <h3
            class="font-jakarta text-xs font-bold tracking-widest text-white uppercase opacity-80"
          >
            Cash Flow Projection
          </h3>
          <div class="flex gap-4">
            <div class="flex items-center gap-1.5">
              <div class="h-2 w-2 rounded-full bg-emerald-400"></div>
              <span class="text-[9px] font-bold text-slate-400 uppercase"
                >In</span
              >
            </div>
            <div class="flex items-center gap-1.5">
              <div class="h-2 w-2 rounded-full bg-rose-400"></div>
              <span class="text-[9px] font-bold text-slate-400 uppercase"
                >Out</span
              >
            </div>
          </div>
        </div>

        <div class="min-h-62.5 w-full" x-ref="chartCanvas"></div>
      </div>
    </section>

    <SpendingSummary />

    <div x-show="summary.totalIncome > 0 || summary.totalExpense > 0" x-cloak>
      <SmartInsight />
    </div>

    <CategoryList />
  </div>
</MainLayout>

<script>
  import Alpine from 'alpinejs'
  import { statsPage } from '../logic/stats'

  // Daftarkan ke Alpine
  document.addEventListener('alpine:init', () => {
    Alpine.data('statsPage', statsPage)
  })
</script>

<style>
  [x-cloak] {
    display: none !important;
  }

  /* Menghilangkan scrollbar di modal atau section tertentu */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
