---
// src/components/BalanceCard.astro
const { lastUpdated = '1m ago' } = Astro.props
---

<section
  class="relative mb-2 overflow-hidden rounded-4xl border bg-indigo-950 p-5 text-white shadow-xl shadow-slate-100"
>
  <div
    class="absolute -top-16 -right-16 h-60 w-60 rounded-full bg-indigo-900 opacity-60"
  >
  </div>
  <div
    class="absolute -bottom-10 -left-10 h-40 w-40 rounded-full bg-indigo-900/50 opacity-40"
  >
  </div>

  <div class="relative z-10">
    <div class="mb-2.5 flex items-center justify-between">
      <div>
        <p class="text-[11px] font-bold tracking-widest uppercase opacity-60">
          My Total Assets
        </p>
      </div>

      <button
        @click="togglePrivacy()"
        class="rounded-full p-2 transition-colors hover:bg-slate-100"
      >
        <i
          class="fa-solid text-slate-400"
          :class="showAmount ? 'fa-eye' : 'fa-eye-slash'"></i>
      </button>
    </div>

    <div
      class="flex flex-col gap-6 md:flex-row md:items-end md:justify-between"
    >
      <div>
        <h2 class="text-3xl font-extrabold tracking-tight lg:text-4xl">
          Rp
          <span class="font-jakarta" x-show="showAmount" x-text="totalAsset"
          ></span>
          <span class="font-jakarta" x-show="!showAmount" x-cloak>••••••••</span
          >
        </h2>
        <p class="mt-2 text-xs font-medium text-indigo-300">
          Last updated {lastUpdated}
        </p>
      </div>

      <button
        class="flex items-center justify-center gap-2 rounded-2xl border border-white/20 bg-white/10 px-6 py-3.5 text-sm font-bold transition-all hover:bg-white/15 active:scale-95"
      >
        <i class="fa-solid fa-file-export text-indigo-300"></i>
        Get report
      </button>
    </div>
  </div>
</section>
