---
// src/components/stats/CategoryList.astro
---

<section class="mb-10">
  <div class="flex justify-between items-end mb-6">
    <div>
      <h3 class="text-[#1D1E20] text-xl font-black font-jakarta">
        Top Spending
      </h3>
      <p
        class="text-slate-400 text-[10px] font-bold uppercase tracking-widest mt-1"
      >
        Based on category share
      </p>
    </div>
    <button
      class="text-indigo-600 text-[10px] font-black uppercase tracking-widest hover:opacity-70 transition-opacity"
    >
      View All
    </button>
  </div>

  <div class="space-y-5">
    <template x-for="cat in topCategories" :key="cat.name">
      <div class="group">
        <div class="flex justify-between items-center mb-2">
          <div class="flex items-center gap-4">
            <div
              class="w-12 h-12 rounded-2xl flex items-center justify-center text-white shadow-lg transition-transform group-hover:scale-110"
              :class="cat.color"
            >
              <i class="fa-solid" :class="cat.icon"></i>
            </div>
            <div>
              <h4 class="font-bold text-[#1D1E20] text-sm" x-text="cat.name">
              </h4>
              <p
                class="text-[10px] text-slate-400 font-bold uppercase tracking-widest"
                x-text="Math.round(cat.percentage) + '% of total'"
              >
              </p>
            </div>
          </div>
          <div class="text-right flex gap-5">
            <div class="flex items-center justify-end gap-1 mt-0.5">
              <i
                class="fa-solid text-[12px]"
                :class="cat.trend === 'up' ? 'fa-arrow-up text-rose-500' : 'fa-arrow-down text-emerald-500'"
              ></i>

              <span
                class="text-[12px] capitalize font-bold tracking-tighter"
                :class="cat.trend === 'up' ? 'text-rose-500' : 'text-emerald-500'"
                x-text="cat.trendText"></span>
            </div>
            <p
              class="font-black text-[#1D1E20] text-sm"
              x-text="'Rp ' + Number(cat.amount).toLocaleString('id-ID')"
            >
            </p>
          </div>
        </div>

        <div class="w-full h-1.5 bg-slate-100 rounded-full overflow-hidden">
          <div
            class="h-full transition-all duration-1000 ease-out rounded-full"
            :class="cat.color"
            :style="`width: ${cat.percentage}%`"
          >
          </div>
        </div>
      </div>
    </template>

    <template x-if="topCategories.length === 0">
      <div
        class="py-10 text-center bg-slate-50 rounded-4xl border-2 border-dashed border-slate-200"
      >
        <p class="text-slate-400 text-xs font-bold uppercase tracking-widest">
          No spending data yet
        </p>
      </div>
    </template>
  </div>
</section>
