<section
  class="bg-linear-to-br from-indigo-600 to-indigo-800 p-6 rounded-4xl relative overflow-hidden group mb-5"
>
  <div
    class="absolute -right-10 -top-10 w-40 h-40 bg-indigo-500/10 rounded-full blur-3xl group-hover:bg-indigo-500/20 transition-all"
  >
  </div>

  <div class="relative z-10 text-white">
    <div class="flex items-center gap-3 mb-4">
      <div
        class="w-8 h-8 rounded-xl bg-white/10 flex items-center justify-center"
      >
        <i class="fa-solid fa-wand-magic-sparkles text-sm"></i>
      </div>
      <span class="text-sm font-bold uppercase tracking-widest"
        >Smart Insight 💡</span
      >
    </div>

    <h3
      class="text-xl font-black font-jakarta mb-2 leading-tight"
      x-text="insight.status"
    >
    </h3>
    <p class="text-xs leading-relaxed font-medium" x-text="insight.message"></p>
  </div>
</section>
