---
// src/components/transaction/AmountDisplay.astro
---

<section class="shrink-0 py-4 text-center">
  <div class="flex items-center justify-center gap-1">
    <span class="text-xl font-bold text-slate-300">Rp</span>

    <input
      x-ref="amountInput"
      inputmode="numeric"
      type="text"
      :value="storage.formatCurrency(amount)"
      @input=`
        let rawValue = $el.value.replace(/\D/g, '');
        amount = rawValue;
        $el.value = storage.formatCurrency(rawValue);
      `
      @keydown.enter.prevent="$refs.noteInput.focus()"
      class="font-jakarta w-full max-w-75 border-none bg-transparent text-center text-4xl font-black tracking-tight text-[#1D1E20] outline-none focus:ring-0"
      placeholder="0"
    />
  </div>
</section>

<style></style>
