---
// src/components/transactions/TransactionHeader.astro
---

<header class="flex shrink-0 items-center justify-between px-3 py-6">
  <div class="w-9"></div>
  <h2
    class="text-lg font-bold text-slate-800"
    x-text="isEditMode ? 'Detail Transaction' : 'Add Transaction'"
  >
  </h2>
  <!-- href="/expense" -->
  <a
    :href="`/expense?date=${date}`"
    class="flex h-9 w-9 items-center justify-center rounded-xl bg-slate-50 text-slate-400"
  >
    <i class="fa-solid fa-xmark text-sm"></i>
  </a>
</header>
